h2{
	color: maroon;
	font-family: Arial;
	text-transform: uppercase;
}
h1{
	color: maroon;
	font-size: 60px;
	font-family: "Times New Roman", Times, serif;
	font: italic;
	
}

p {
	font: italic bold ;
	font-size:30px;
	
}
ul{
	font: italic bold ;
	font-size:20px;
	 
	 }
body{

	/* background-image: url("Happy.jpg") ; */
	/* background-repeat: no repeat; */
	/* background-position: right top; */
	/* background-color: yellow; */
	  /* background-image: url("friendship.jpg"); */
     /* min-height: 1000px;  */
	/* /* min-width: 100;  */ */
     /* background-attachment: scroll; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
     /* background-size: cover; */
}
.s_header{
				
		height:40px;
		width:100;
		border: 5px solid midnightblue;
		background-color: FireBrick;
		font-size:30px;
		color: white;
        background-image: url("stars...jpg");			 }
			 	 a{ 
				 position: relative;
				 left:1000px;
		color:white;
			 }

p{
	color:  ;
	font-size: 20px;
}
p.f{
	color: maroon;
	font-size:50px;
}
/* html {  */
  /* background: url("download.jpg") no-repeat center center fixed;  */
  /* -webkit-background-size: cover; */
  /* -moz-background-size: cover; */
  /* -o-background-size: cover; */
  /* background-size: cover; */
/* } */
